<html ng-app="app">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="./assets/game.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">

        <script type="text/javascript" src="./modules/game.factory.js"></script>
        <script type="text/javascript" src="./modules/app.js"></script>
    </head>
    <body ng-controller="AppController">
        <div class="sidebar">
            <h3>Spades</h3>
            <form name="login" class="form" ng-if="!data.readonly" ng-submit="events.start()">
                <input type="text" placeholder="Digite seu nome" ng-model="data.name" ng-required="true">
                <button type="submit" ng-disabled="login.$invalid">Iniciar</button>
                <br/>
            </form>
            <div class="logged" ng-if="data.readonly">
                <div class="controls">
                    <label class="name">{{data.getName()}}</label>
                    <p>
                        Pontos: {{data.sum}}
                    </p>
                    <br/>
                    <button ng-click="events.autoplay()">{{events.autoplayLabel}}</button>
                </div>
                <div class="restarter" ng-if="!game.autoplaying">
                    <span ng-if="data.congrats">{{data.congrats}}</span>
                    <button ng-click="events.start()">Reiniciar</button>
                </div>
                <div class="ranking" ng-if="data.ranking">
                    <h4>Ranking</h4>
                    <ul>
                        <li ng-repeat="rank in data.getRanking()">
                            {{rank.user}} - <strong>{{rank.points}}</strong> pts x <small>Rodada: {{rank.round}}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="deck" ng-if="data.deck">
            <div 
                ng-repeat="card in data.getDeck() track by $index"
                class="card {{card.suit}} c-{{card.card}}"
                ng-click="game.card.flip($index);"
                ng-class="{'opened':!card.closed,'done':card.done}"
            >
                <img src="./assets/images/card.gif" width="84" height="124"/>
                <div class="up">{{card.label}}<span></span></div>
                <div class="center"><span></span></div>
                <div class="down">{{card.label}}<span></span></div>
            </div>
        </div>
    </body>

</html>