* { padding:0;margin:0; outline:0;}

body {
    font:16px Helvetica, Arial, sans-serif;
    background:#060 url(./images/bg.png);
    background-size: cover;
    color:#fff;
}

.sidebar {
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    float:right;
    background:rgba(0,0,0,0.4);
    text-align:center;
    width:25vw;
    height:100vh;
    color:#fff;
}
.sidebar h3,.sidebar h4 {
    margin-bottom:10px;
    font-family: 'Gochi Hand', cursive;
    text-transform: uppercase;
}
.sidebar h3 {
    font-size:70px;
    color:#fff;
    margin:40px 0;
}
.sidebar h4 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
}
.form {
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: calc(100% - 40px);
    padding: 20px;
}
input,button {
    border-radius:4px;
    padding:5px 10px;
    border:0;
}
input {
    width:100%;
    font-size:18px;
    padding:10px 20px;
    margin-bottom:10px;
}
button {
    width:100%;
    background:rgb(54, 177, 105);
    text-transform: uppercase;
    font-size: 13px;
    color:#fff;
    padding: 10px 20px;
}
button:disabled {
    opacity:0.2;
}
.controls {
    padding: 0 20px;
}

.controls .name {
    font-size:20px;
    font-weight:bold;
}

#deck {
    font-family: 'Times New Roman';
    display:block;
    width: 538px;
    height: 633px;
    margin-left:50px;
    padding:40px 0 10px 10px;
    margin-left: calc(37.5vw - 279px);
}
.card {
    display: flex;
    float:left;
    flex-direction: column;
    border-radius: 4px;
    flex: 1;
    margin-right:10px;
    margin-bottom:10px;
    width: 77px;
    height: 122px;
    padding:10px;
    transition: .5s ease-in-out;
    animation: .5s ease 0s normal forwards 1 fadein;
    transform: rotateX(180deg);
    background:#fff;
    box-shadow: 0px -1px 2px rgba(0,0,0,0.4);
    background: linear-gradient(195deg,#eee 10% , #fff 50%);
}
.card.opened {
    transform: rotateX(360deg);
    background: linear-gradient(-15deg,#eee 10% , #fff 50%);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}
.card img {
    position:absolute;
    width:78px;
    height:124px;
    animation: .25s ease 0s normal forwards 1 fadeinimg;
}
.card.opened img {
    animation: .25s ease 0s normal forwards 1 fadeoutimg;
}
.card div {
    animation: .25s ease 0s normal forwards 1 fadeout;
}
.card.opened div {
    animation: .25s ease 0s normal forwards 1 fadein;
}
@keyframes fadeoutimg{
    0% { opacity:1; }
    75% { opacity:1; }
    100% { opacity:0; display:none; }
}

@keyframes fadeinimg{
    0% { opacity:0; display:inherit; }
    75% { opacity:0; }
    100% { 
        opacity:1;
    }
}
@keyframes fadeout{
    0% { opacity:1; }
    75% { opacity:1; }
    100% { opacity:0; }
}

@keyframes fadein{
    0% { opacity:0; }
    75% { opacity:0; }
    100% { opacity:1; }
}
.card.done {
    background: rgba(255,255,255,.5);
}

.card.spades, 
.card.club {
    color:#333;
}

.card.heart, 
.card.diamond {
    color:#d00;
}
.card.spades span:after {
    content:'\002660';
}
.card.heart span:after {
    content:'\002665';
}
.card.club span:after {
    content:'\002663';
}
.card.diamond span:after {
    content:'\002666';
}

.card .up, .card .down {
    display:block;
    max-width:16px;
    word-break: break-all;
    text-align:center;
}
.card.c-j .up, .card.c-j .down {
    max-width:10px;
}
.card .down {
    transform: rotate(180deg);
    margin-left:calc(100% - 16px);
}
.card .center {
    display:flex;
    height:calc(100% - 40px);
    text-align:center;
    word-break: break-all;
    padding:0 20px;
    justify-content: center;
    font-size: 2.5vw;
}

.card .center {
    align-items: center;
}

@media (max-width:736px) {
    .card .center span {
        font-size:58px;
    }
}

.restarter {
    font-size: 13px;
    padding: 22px;
    font-weight: bold;
}
.restarter button {
    margin-top:20px;
}

.ranking {
    font-size:12px;
    margin-top:30px;
}
.ranking ul {
    list-style:none;
}
.ranking li {
    margin-bottom:10px;
}